@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Courier New", Courier, monospace;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.width-50 { 
  width: Calc(50% - 10px);
}

@media  (max-width: 768px) {
  .width-50 {
    width: 100%;
  }
}
